<div class="login-page">
  <div class="row justify-content-md-center">
      <div class="col-md-4">
           <img src="assets/img/logo.png" width="150px" class="user-avatar" />
          <h1>Apex</h1>
          <form role="form">
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" [(ngModel)]="model.userName" name="userName" class="form-control input-underline input-lg" id="userName" placeholder="User Name">
                  </div>

                  <div class="form-group">
                      <input type="password" [(ngModel)]="model.password" name="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                  </div>
              </div>
              <a style="cursor: pointer;" class="btn rounded-btn"  (click)="authorize()">Log in</a>
          </form>
      </div>
  </div>
</div>
